*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: skyblue;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.App-register{
  width: 35%;
  min-height: 500px;
  margin: 6% auto;
  background-color: darkblue;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
display: flex;
flex-direction: column;}
.App-register h1{
  margin: 10px auto;
  text-align: center;
}
.App-register form{
  background-color: darkblue;
  padding: 1rem;
  color:white;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 10px;
}
.App-register form label{
  align-self: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.App-register input{
  width: 60%;
  height: 35px;
  justify-self: center;
  align-self: center;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  padding: 0.2rem;
  color:darkblue;
  font-weight: bolder;
}
.App-register input:focus{
  border: 2px solid yellow;
  outline:2px solid yellow;
}
.pwd-note{
  background-color: black;
  color:white;
  font-size: 0.9rem;
  width: 80%;
  align-self: center;
  padding: 0.5rem;
  border-radius: 5px;
}
.App-register button{
  width: 50%;
  align-self: center;
  border: none;
  height: 40px;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: darkblue;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
}
.already{
  font-size: 1.2rem;
  align-self: center;
}
.sign-in{
  color:white;
  font-size: 1.2rem;
  align-self: center;
}
.err-msg{
  background-color: hsla(0, 78%, 69%, 0.5);
  color:red;
  width: 80%;
  margin: 0px auto;
  padding:0.5rem;
  border-radius: 9px;
  text-align: center;
}
@media  screen and (max-width: 800px) {
  .App-register{
    width: 90%;
  
  }
}